<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index </title>
</head>
		<style>
			
			table,th,div {
					color: black;
					text-align: center;
					border-collapse: separate;
					border-spacing: 2px;
				}
		</style>
	
<body>


	<div class="container my-3">
		<h1>Product List</h1>
		
		<form action="@{/index}">
			
			Filter: <input type="text" name="keyword" id="keyword" size="15"
			th:value="${keyword}" required /> &nbsp;
			
			<input type="submit"
			value="Search" /> &nbsp;
			
			<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
			
			<script type= "text/javascripit">
				function clearSearch() {
					window.location = "[[@{/}]]" ;
				}
			</script>
	
		</form>
		
		<div> <a th:href="@{/showNewProductForm}" class="btn btn-primary btn-sm mb-3"> Add New Product</a> </div> <br>
		
		<table border= "1" class= "table table-hover" >
         <thead >
                 <tr class= "active">
                 		
                          <th>Product Name</th>
                          <th>Product Price</th>
                          <th> PHOTO </th>
                          <th> Action </th>
                          <th> Action</th>
                 </tr>
         </thead>
         <tbody>
                 <tr th:each = "product : ${listProduct}">
                	
                          <td th:text="${product.productName}"></td>
                          <td th:text="${product.price}"></td>
                          
          	 <td><img th:src= "${product.photosImagePath}" class= "img-round" alt= "No pic" width= "100" height= "60" />
			<tr> <a th:href="@{/showFormForupdate/{id}(id=${product?.id})}" class= "btn btn-primary">Update</a>
			<td> <a th:href="@{/deleteProduct/{id}(id=${product?.id})}" class= "btn btn-danger">Delete</a>
							</td>
					</tr>

		</tbody>
		</table>
		
	</div>

</body>
</html>